<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stress test</title>
    <link rel="stylesheet" href="hello.css">
</head>
<body>
<div class="container">
    <button class="big-button" onclick="handleClick()">Start stress test</button>
</div>

<script>
    function handleClick() {
        alert("Stress testing is starting! ");
        fetch('http://localhost:8082/k6', {
            method: 'POST'
        });
    }
</script>
</body>
</html>